// ----- VARIABLES ----- //
$green-color: #4cb050;

* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Roboto', 'sans serif';
}

.material-icons {
	font-family: 'Material Icons'
}